<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <ul>
        <li><a href="/">Home</a></li>
        <% if (currentUser) { %>
        <li><a href="/membership">Become a Member</a></li>
        <li>Logout</li>
        <% } else { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <% }; %>
      </ul>
    </header>
    <main>
      <h1>Login</h1>
      <form method="post">
        <div>
          <label
            >Email:
            <input type="email" name="email" required />
          </label>
        </div>
        <div>
          <label
            >Password:
            <input type="password" name="password" required />
          </label>
        </div>
        <button>Login</button>
      </form>
      <ul>
        <% errors.map((error) => { %>
        <li><%= error.msg %></li>
        <% }); %>
      </ul>
    </main>
  </body>
</html>
