<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Register</h1>
    <form method="post">
      <div>
        <label
          >First name:
          <input
            type="text"
            name="firstName"
            value="<%= user ? user.firstName : '' %>"
            required
          />
        </label>
      </div>
      <div>
        <label
          >Last name:
          <input
            type="text"
            name="lastName"
            value="<%= user ? user.lastName : '' %>"
            required
          />
        </label>
      </div>
      <div>
        <label
          >Email:
          <input type="email" name="email" value="<%= user ? user.email : '' %>" required />
        </label>
      </div>
      <div>
        <label
          >Password:
          <input type="password" name="password" required />
        </label>
      </div>
      <div>
        <label
          >Confirm password:
          <input type="password" name="passwordConfirmation" required />
        </label>
      </div>
      <button>Register</button>
    </form>
    <ul>
      <% errors.map((error) => { %>
      <li><%= error.msg %></li>
      <% }); %>
    </ul>
  </body>
</html>
