body {
  margin: 0;
}
header {
  background-color: lightgray;
  display: grid;
  justify-content: end;
  padding: 0 1.5rem;
}
header ul {
  list-style: none;

  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}
ul {
  padding-left: 20px;
}
main {
  padding: 1.5rem;
}
form > button {
  margin-top: 1.5rem;
  width: 6rem;
  height: 2rem;
  background-color: rgb(184, 184, 255);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: lightgray 2px 2px 2px;
}
